body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    width: 800px;
    overflow: hidden;
}

.form-container,
.user-list-container {
    flex: 1;
    padding: 20px;
    min-width: 350px;
}

.form-container {
    background-color: #f7f7f7;
}

.user-list-container {
    background-color: #fff;
    max-height: 400px;
    overflow-y: auto;
    padding-left: 20px;
}

.divider {
    border-right: 2px solid #ccc;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select,
.skills-container {
    width: 100%;
    margin-bottom: 10px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skills-checkbox {
    margin-right: 15px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.user img {
    max-width: 100px;
    border-radius: 5px;
    margin-right: 20px;
}

.user-details {
    flex: 1;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .form-container,
    .user-list-container {
        flex: 1;
        margin: 0 10px;
    }

    .divider {
        display: block;
    }
}